* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    font-family: monospace;
    font-size: 0.85rem;
    height: auto;
    width: auto;
    background-color: rgba(90, 206, 244, 0.87);
    border-width: 2px;
    border-color: aqua;
}

header {
    font-weight: bold;
    font-size: 4rem;
    font-family: Allan;
    padding-bottom: 0;

}

#hr1 {
    display: flex;
    margin-left: -32px;
    margin-right: -32px;
    background-color: rgb(34, 52, 60);
    height: 2px;
    border: none;
    margin-top: 0rem;
    margin-bottom: 2rem;
}

body {
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 1.25rem;
    background-color: #171717;
    color: rgba(90, 206, 244, 0.87);
}
  
.course {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    border-radius: 4px;
    background-color: #171717;
    border: 1px solid rgba(122, 122, 122, 0.15);
}
  
.course img {
    display: flex;
    height: 5rem;
    padding-right: 1rem;
}
.course h3 {
    font-size: inherit;
    font-weight: bold;
}
  
.course h3 + span {
    margin: 0 2rem 0 auto;
}
  
.course + .course {
    margin-top: 1rem;
}

.course.failed {
    background-color: #ffaaaa;
    color: #660000;
    border-color:  rgba(100, 0, 0, 0.2);
}

.course.passed {
    background-color: khaki;
    border-color: rgba(160, 96, 0, 0.3);
}
